.higher-index{
  z-index: 10;
}
.custom_bg{
  background-image: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8)),url('./assets/images/table.jpg');
  background-position: bottom;
  background-size: cover  ;
}
.object_cover{
  object-fit: cover;
}

.overlay{
  background: linear-gradient(rgba(0, 0, 0, 0.8) , rgba(15, 14, 60, 0.5)) ;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

/* .smooth_gradient{
  background:;
} */